<html>
    <head>
        <title>
            Log In!
        </title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/navstyles.css')}}">

    </head>
    <body>
        <div id='cssmenu'>
            <ul>
                <li><a href="{{url_for('images')}}"><span>Home</span></a></li>
                <li><a href="{{url_for('category_show')}}"><span>Categories</span></a></li>
                
                {% block b %}
                {% if session['user'] %}
                <li><a href="{{url_for('logout')}}"><span>Log Out</span></a></li>
                <li><a href="{{url_for('upload_page')}}"><span>Upload</span></a></li>
                <li class='last'><a href = "{{url_for('delete_user')}}"> <span>Delete Account</span></a></li>
                
                {% else %}
                <li><a href="{{url_for('signup')}}"><span>Sign Up</span></a></li>
                <li class='last'><a href="{{url_for('login')}}"><span>Log In</span></a></li>
    
                {% endif %}
                {% endblock %}
                
            </ul>
        </div>  
        <h1>Categories</h1>
        <ul>
            {% for ccategory in category_list %}
            <li><a href="{{url_for('category_fun', category=ccategory)}}"><span>{{ ccategory }}</span></a></li>
            {% endfor %}
        </ul>
        <a href = "{{url_for('add_cat')}}">Add Category</a>
        <a href = "{{url_for('del_cat')}}">Delete Category</a>
        
    </body>
</html>