<!DOCTYPE=html>
<html>

<head>
    <title>
        Delete Category
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/navstyles.css')}}">
</head>

<body>

    <div id='cssmenu'>
        <ul>
            <li><a href="{{url_for('images')}}"><span>Home</span></a></li>
            <li><a href="{{url_for('category_show')}}"><span>Categories</span></a></li>
            
			{% block b %}
            {% if session['user']%}
            <li><a href="{{url_for('logout')}}"><span>Log Out</span></a></li>
			<li><a href="{{url_for('upload_page')}}"><span>Upload</span></a></li>
			<li class='last'><a href = "{{url_for('delete_user')}}"> <span>Delete Account</span></a></li>
			
            {% else %}
			<li><a href="{{url_for('signup')}}"><span>Sign Up</span></a></li>
			<li class='last'><a href="{{url_for('login')}}"><span>Log In</span></a></li>

			{% endif %}
			{% endblock %}
			
        </ul>
    </div>
    <h1>Delete Category</h1>
    <form id = "delete_cat_form" action = "{{url_for('del_cat_data')}}" method="POST">
        Choose category to delete
        <br>
        {% block b1 %}

        {% for cat in category_list %}
        <input type="radio" name="category" value={{cat}}> {{cat}}<br>
        {% endfor %}  
        {% endblock %}

        <input type="submit" value="Delete"><br>

    </form>

</body>

</html>