<!DOCTYPE html>
<html>

<head>
    <title>
        Single Image Display
    </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styleshome.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/navstyles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"> 
    
</head>

<body>
    <div id='cssmenu'>
        <ul>
            <li><a href="{{url_for('images')}}"><span>Home</span></a></li>
            <li><a href="{{url_for('category_show')}}"><span>Category</span></a></li>
            
			{% block b %}
            {% if session['user']%}
            <li><a href="{{url_for('logout')}}"><span>Log Out</span></a></li>
			<li><a href="{{url_for('upload_page')}}"><span>Upload</span></a></li>
			<li class='last'><a href = "{{url_for('delete_user')}}"> <span>Delete Account</span></a></li>
			
            {% else %}
			<li><a href="{{url_for('signup')}}"><span>Sign Up</span></a></li>
			<li class='last'><a href="{{url_for('login')}}"><span>Log In</span></a></li>

			{% endif %}
			{% endblock %}
			
        </ul>
    </div>
    
            <div class="description">
                <h1>{{caption}}</h1>
                <div class="content">
                    <p>
                        <button class="buttonincr" ><i class="button-icon icon-heart"></i>Upvote</button>
                        <input class="likesCounter" type="text" value="0" />
                    </p>
                    <p>
                        <form id = "upload_form" action = "{{url_for('deleted')}}" method="POST" enctype="multipart/form-data">
                            <button name="Delete" value="{{image}}" type="submit" class = "buttondelete">Delete</button>
                        </form>

                    </p>
                </div>
            </div>
            <a href="{{url_for('show_single_image',thepath = image)}}"><img src="{{url_for('static', filename=image)}}"></a>
    <script type="text/javascript" src="{{url_for('static', filename='js/action.js')}}"></script>

</body>

</html>