<html>
    <head>
        <title>
            Log In!
        </title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/navstyles.css')}}">

    </head>
    <body>
        <div id='cssmenu'>
            <ul>
                <li class='active'><a href="{{ url_for('images')}}"><span>Home</span></a></li>
                <li><a href="{{url_for('category_fun', category='nature')}}"><span>Nature</span></a></li>
                <li><a href="{{url_for('category_fun', category='humans')}}"><span>Humans</span></a></li>
                <li><a href="{{url_for('category_fun', category='animals')}}"><span>Animals</span></a></li>
                <li><a href="{{url_for('category_fun', category='other')}}"><span>Other</span></a></li>
                {% block b %}
                {% if session['user']%}
                <li><a href="{{url_for('logout')}}"><span>Log Out</span></a></li>
                <li><a href="{{url_for('upload_page')}}"><span>Upload</span></a></li>
                <li class='last'><a href = "{{url_for('delete_user')}}"> <span>Delete Account</span></a></li>
                
                {% else %}
                <li><a href="{{url_for('signup')}}"><span>Sign Up</span></a></li>
                <li class='last'><a href="{{url_for('login')}}"><span>Log In</span></a></li>

                {% endif %}
                {% endblock %}
            </ul>
        </div>
        <h1>Log In</h1>
        <form id = "login_form" action = "{{url_for('logindata')}}" method="POST" enctype="multipart/form-data">
              
            Enter username
            <input type="text" name = "username"> <br>      
            Enter Password
            <input type="password" name = "password"> <br>    
            <input type="submit" value="Log In"><br>
            {% block body %}
            {% if error %}
            Incorrect UserName or Password
            {% endif %}
            {% endblock %}
        </form>
    </body>
</html>