<!DOCTYPE=html>
<html>

<head>
    <title>
        Store Report
    </title>
</head>

<body>

    <div class="topnav" id="myTopnav">
        
        <a href="{{ url_for('images')}}" >Home</a>
        <a href="{{ url_for('animals')}}" >Animals</a>
        <a href="{{ url_for('humans')}}">Humans</a>
        <a href="{{ url_for('nature')}}">Nature</a>
        <a href="{{ url_for('other')}}">Other</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    {% for image in images %}


    <a href="{{url_for('show_user_profile',username = image)}}"><img src="{{url_for('static', filename=image)}}"></a>


    {% endfor %}
    <!-- <img src = "{{url_for('static', filename='Categories/Category_0/BEwrVP6o0yQ.jpg')}}"> -->
</body>

</html>`